/* Estilo para las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333; /* Cambia el color según tu preferencia */
}

/* Estilo para el botón previo del carrusel */
.carousel-control-prev {
    color: #fffcfc; /* Cambia el color según tu preferencia */
}

/* Estilo para el botón siguiente del carrusel */
.carousel-control-next {
    color: #fffcfc; /* Cambia el color según tu preferencia */
}

.section-separator {
    border-bottom: 1px solid #dee2e6; /* Color del borde inferior */
    padding-bottom: 20px; /* Espaciado opcional debajo del separador */
}