#logoCarousel {
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-item {
    flex: 0 0 auto;
}

.logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}